<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-title>Produk</ion-title>

    <ion-buttons slot="end">

      <ion-button [routerLink]="['form']">
        TAMBAH PRODUK
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">

  <ion-grid>

    <!-- Mengulang setiap baris produk -->
    <ion-row
      *ngFor="let row of productRows"
    >

      <!-- Mengulang setiap produk -->
      <ion-col
        size="4"
        *ngFor="let product of row"
      >

        <ion-card>

          <!-- Bagian produk -->
          <div
            [routerLink]="['detail', product.id]"
          >

            <!-- Gambar produk -->
            <ion-img
              [src]="product.gambar"
            >
            </ion-img>


            <!-- Nama produk -->
            <ion-card-header>

              <ion-card-title
                color="secondary"
              >

                {{ product.nama }}

              </ion-card-title>

            </ion-card-header>

          </div>


          <!-- Tombol EDIT -->
          <ion-button
            expand="block"
            [routerLink]="['form', product.id]"
          >

            EDIT

          </ion-button>


          <!-- Tombol + dan - -->
          <div class="jumlah-container">

            <!-- Tombol kurang -->
            <ion-button
              size="small"
              fill="outline"
              (click)="kurangJumlah(product)"
              [disabled]="product.jumlah <= 0"
            >

              −

            </ion-button>


            <!-- Jumlah produk -->
            <ion-label>

              {{ product.jumlah }}

            </ion-label>


            <!-- Tombol tambah -->
            <ion-button
              size="small"
              fill="outline"
              (click)="tambahJumlah(product)"
              [disabled]="product.jumlah >= product.stok"
            >

              +

            </ion-button>

          </div>


          <!-- Tombol simpan ke keranjang -->
          <ion-button
            expand="block"
            color="success"
            (click)="simpanKeKeranjang(product)"
            [disabled]="product.stok <= 0"
          >

            SIMPAN KE KERANJANG

          </ion-button>


        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>


  <!-- Jika tidak ada produk -->
  <ion-item
    *ngIf="productRows.length == 0"
  >

    <ion-label>
      Produk tidak ditemukan
    </ion-label>

  </ion-item>

</ion-content>