<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-title>Produk</ion-title>

    <ion-buttons slot="end">

      <ion-button [routerLink]="['form']">
        TAMBAH PRODUK
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row *ngFor="let row of productRows">

      <ion-col size="4" *ngFor="let product of row">

        <ion-card>

          <!-- Gambar dan nama menuju detail -->
          <div [routerLink]="['detail', product.id]">

            <ion-img
              [src]="product.gambar">
            </ion-img>

            <ion-card-header>

              <ion-card-title>
                {{ product.nama }}
              </ion-card-title>

            </ion-card-header>

          </div>


          <!-- Tombol edit -->
          <ion-button
            expand="block"
            [routerLink]="['form', product.id]">

            EDIT

          </ion-button>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>