<ion-app>

  <ion-menu contentId="main-content" menuId="main-menu" (ionWillOpen)="spinDonut()">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>SIMOBILE</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="no-scroll">

      <ion-list>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/dashboard">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/produk">
            <ion-icon name="list-outline" slot="start"></ion-icon>
            <ion-label>Produk</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/keranjang">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Keranjang</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/transaksi">
            <ion-icon name="receipt-outline" slot="start"></ion-icon>
            <ion-label>Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item>
          <ion-icon name="moon-outline" slot="start"></ion-icon>
          <ion-toggle [checked]="isDark" (click)="gantiTema()">Mode Gelap</ion-toggle>
        </ion-item>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="profile">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <div class="spinner-area">
        <div id="donut-spinner1"></div>
        <div id="donut-spinner2"></div>
      </div>

    </ion-content>

  </ion-menu>


  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="dashboard">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="produk">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Produk</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="keranjang">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Keranjang</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="transaksi">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Transaksi</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-app>