<ion-app>
  <ion-menu auto-hide="true" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding no-scroll">
      <ion-list class="animate-fade-in">
        <ion-menu-toggle>
          <ion-item routerLink="/dashboard">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/produk">
            <ion-icon name="logo-dropbox"></ion-icon>
            <ion-label>Produk</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/transaksi">
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/profile">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Profil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/settings">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <div class="bottom-spinner-wrapper">
        <div id="donut-spinner1"></div>
        <div id="donut-spinner2"></div>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="basketball-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="about">
        <ion-icon name="help-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="logout">
        <ion-icon name="exit-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>