<ion-app>

  <ion-menu contentId="main-content" menuId="main-menu">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>SIMOBILE</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-list>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/dashboard">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/produk">
            <ion-icon name="list-outline" slot="start"></ion-icon>
            <ion-label>Produk</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/keranjang">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Keranjang</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/transaksi">
            <ion-icon name="receipt-outline" slot="start"></ion-icon>
            <ion-label>Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>

  </ion-menu>


  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>