<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Keranjang Belanja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Keranjang</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Daftar Item di Keranjang -->
  <ion-list *ngIf="cartItems.length > 0; else emptyCart">
    <ion-item-sliding *ngFor="let item of cartItems">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="item.url || 'https://ubaya.cloud/no_image.jpg'" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p>Harga: Rp {{ item.price }} x {{ item.quantity }}</p>
          <p>Subtotal: Rp {{ item.price * item.quantity }}</p>
        </ion-label>
      </ion-item>
      
      <!-- Opsi geser untuk menghapus item -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeItem(item)">Hapus</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Tampilan Jika Keranjang Kosong -->
  <ng-template #emptyCart>
    <div style="text-align: center; margin-top: 50px;">
      <ion-icon name="cart-outline" style="font-size: 64px; color: gray;"></ion-icon>
      <p>Keranjang Anda kosong.</p>
    </div>
  </ng-template>

  <!-- Bagian Total Harga & Tombol Checkout -->
  <div *ngIf="cartItems.length > 0" style="margin-top: 20px;">
    <ion-item lines="none">
      <ion-label><h3><b>Total Belanja:</b></h3></ion-label>
      <ion-note slot="end" color="success"><h3><b>Rp {{ totalAmount }}</b></h3></ion-note>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="checkout()">
      Konfirmasi Transaksi
    </ion-button>
  </div>
</ion-content>