<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Detail Produk
    </ion-title>

  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-card>

    <ion-card-header>

      <ion-card-title color="secondary">
        Detail Produk
      </ion-card-title>

    </ion-card-header>


    <ion-card-content>

      <p>
        Nama Produk: {{ nama }}
      </p>

      <p>
        ID Produk: {{ id }}
      </p>

      <p>
        Stok: {{ stok }}
      </p>

      <p>
        Harga Beli: Rp {{ hargaBeli }}
      </p>

      <p>
        Harga Jual: Rp {{ hargaJual }}
      </p>

    </ion-card-content>

  </ion-card>

</ion-content>